.sidebar-container {
  width: 100%;
  padding: auto 8%;
  margin: 0;
}

.sidebar-container a {
  margin: 10px 8%;
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.sidebar-container a:hover,
.sidebar-container a:active {
  color: #009444;
  text-decoration: none;
}
